.cool{
    background-color: tomato;
    color:yellow;
}

.hide{
        visibility: hidden;
}

.shop {
        max-width: 1000px;
        margin: 10px auto;
        padding: 5px 15px;
        border: 100px ridge rgb(200, 253, 253);
        border-radius: 150px;
}
    
.shop h1 {
        text-align: center;
        text-decoration-line: underline;
}
    
.shop table {
        margin: 10px auto;
        width: 90%;
        border: 4px solid black;
        border-collapse: collapse;
}
    
.shop table td, .landing table th {
        border: 1px solid black;
}
    
.shop table th {
        text-align: center;
        border-bottom: 5px double black;
}
    
.shop table td {
        height: 80px;
}
    
.shop table img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: auto;
        height: 50px;
}
    
.center-text {
        text-align: center;
}